#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.remove{
  /* margin: 0.625rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.listItems{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-right: 7rem;
  font-size: 1.5625rem;
}


body{
  background-image: url('./assets/todoListImage.jpg');
  background-size: cover;
 
  
}

.modal{
  background-color:rgba(114, 99, 99, 0.6);
  background-size: cover;
}


